.container {
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 1022;
  background-color: rgba(0, 0, 0, 0.3);
}

.container .wrapper {
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-top: 200px;
  width: 440px;
  height: 200px;
  background: white;
  --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  box-shadow: 0 0 0 1px var(--saf-0), 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
  border-radius: 6px;
  user-select: none;
  max-width: 440px;
  padding: 30px 40px 0;
  z-index: 100;
  position: relative;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 0px;
  color: black;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
