.container {
  position: fixed;
  text-align: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1022;
  background-color: rgba(0, 0, 0, 0.3);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  margin-top: 200px;
  width: 500px;
  height: 350px;
  background: white;
  --saf-0: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  box-shadow: 0 0 0 1px var(--saf-0), 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
  border-radius: 6px;
  user-select: none;
  z-index: 100;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 15px;
  border-bottom: 1px solid black;
}

.title {
  display: flex;
  align-items: center;
  font-weight: 300;
}

.closeBtn {
  padding-bottom: 5px;
  font-size: 30px;
  cursor: pointer;
}
