.container {
  height: 100px;
  padding: 0 50px;
  background-color: #d1411e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 5000;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
}

.item:nth-child(2) {
  flex: 3;
}

.item:nth-child(3) {
  justify-content: flex-end;
}

.callButton {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
}

.texts {
  margin-left: 20px;
  color: white;
  width: max-content;
}

.text:first-child {
  font-size: 12px;
  font-weight: 500;
}

.text:last-child {
  font-size: 20px;
  font-weight: bold;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  color: white;
}

.listItem {
  margin: 20px;
  font-weight: 500;
  cursor: pointer;
}

.cart {
  position: relative;
}

.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #d1411e;
}

.smallContainer {
  display: none;
}

.smallMenu {
  display: none;
}

.smallMenuClose {
  display: none;
}

@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }

  .smallContainer {
    display: flex;
    z-index: 9999;
    background-color: #d1411e;
    position: sticky;
    top: 0;
    height: 50px;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
  }

  .smallHead {
    color: black;
    cursor: pointer;
  }

  .toggle {
    border: none;
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .toggle:hover {
    background-color: rgb(219, 219, 219);
  }

  @keyframes toggle {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0%);
    }
  }

  .smallMenu {
    width: 100%;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: calc(0% + 50px);
    background-color: #d84b0a;
  }

  .smallMenu.in {
    animation: toggle 0.5s ease-in-out normal forwards;
  }

  .smallMenu.out {
    animation: toggle 0.5s ease-in-out reverse forwards;
  }

  .smallMenu.none {
    display: none;
  }

  .menuItem {
    border-bottom: 1px solid rgb(168, 167, 167);
    padding-left: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menuItem:last-child {
    border-bottom: 2px solid rgb(168, 167, 167);
  }

  .menuItem span {
    cursor: pointer;
  }
}
