.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.inputContainer {
  align-self: flex-end;
  padding-bottom: 10px;
}

.searchbar:focus {
  outline: none;
  height: 30px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
  margin: 5px 0px;
}
@media screen and (min-width: 480px) {
  .wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
